<section style="background-image: ;">
  <h2>Create New Post for Parks and Recreation</h2>

  <div class='banner'>
          <img
            class='banner-img'
            src='.'
            alt=''
          />
          <a href='/' class='home-link'>Home</a>
          <a href='../about.handlebars' class='about-link'>About</a>
          <a href='../../calendar.html' class='calendar-link'>Events</a>
          <a
            href='https://j.gifs.com/v960Xq.gif'
            class='complaints-link'
          >Complaints</a>
          <a href='old_site.html' class='old-site-link'>Older Version</a>
        </div>

  <form class='complaint-form'>
    <div>
      <label for='post-title'>Complaint</label>
      <input type='text' id='post-title' name='post-title' />
    </div>
    <button type='submit' class='btn'>Create</button>
  </form>
</section>

{{#if posts.length}}
  <section>
    <h2>Complaints</h2>
    <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
  </section>
{{/if}}

<script src='/javascript/add-post.js'></script>