<section>
  <h2>Create New Post for Parks and Recreation</h2>

  <form class="new-post-form">
    <div>
      <label for="post-event">Event</label>
      <input type="text" id="post-event" name="post-event" />
    </div>
    <div>
      <label for="post-location">Location</label>
      <input type="text" id="post-location" name="post-location" />
    </div>
    <div>
      <label for="post-date">Date</label>
      <input id="post-date" name="post-date" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>