/* body {
  font: 100% Helvetica, sans-serif;
  color: rgb(236, 4, 4);
  height: auto;
  background-color: grey;
} */

.banner {
  background-color: black;
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.banner-img {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/*Home button links and styling*/
.home-link {
  font-weight: bold;
}

.about-link {
  font-weight: bold;
}

.calendar-link {
  font-weight: bold;
}

.complaints-link {
  font-weight: bold;
}

.old-site-link {
  font-weight: bold;
}

/*Boxing for headlines*/
/* .headlines-box {
  padding: 20px 35px;
  background-color: rgb(37, 40, 41);
  display: display-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
  color: #fc3838;
  margin: 0;
}
.headlines {
  color: blue;
} */

.info-section {
  display: flex;
  padding: 20px 35px;
  background-color: rgb(37, 40, 41);
  display: display-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
  color: #fc3838;
  margin: 0;
}

.info-box {
  flex: 1;
}

.info-box:first-child {
  margin-right: 20px;
}
