/* body {
  font: 100% Helvetica, sans-serif;
  color: rgb(236, 4, 4);
  height: auto;
  background-color: grey;
} */

.banner {
  background-color: black;
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.banner-img {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/*Home button links and styling*/
.home-link {
  font-weight: bold;
}

.about-link {
  font-weight: bold;
}

.calendar-link {
  font-weight: bold;
}

.complaints-link {
  font-weight: bold;
}

.old-site-link {
  font-weight: bold;
}

/*about me background
.park-background {
  flex-wrap: wrap;
  display: block;
}*/

/*Boxing for headlines*/
/* .headlines-box {
  padding: 20px 35px;
  background-color: rgb(37, 40, 41);
  display: display-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
  color: #fc3838;
  margin: 0;
}
.headlines {
  color: blue;
} */

.info-section {
  display: flex;
  padding: 20px 35px;
  background-color: #cad2d4fd;
  display: display-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
  color: #0e0d0d;
  margin: 0;
}

.info-box {
  flex: 1;
  border: 1px solid black;
}

.info-box:first-child {
  margin-right: 20px;
}

/*Styling Meet the Staff*/
.about h2 {
  font-weight: bolder;
  color: rgb(199, 80, 80);
  font-style: oblique;
}

.staff h3 {
  font-weight: bold;
  color: rgb(82, 12, 122);
  font-style: italic;
}

.step-text p {
  font-weight: 600;
  color: rgb(199, 80, 80);
  font-style: oblique;
}

.staff-reverse h3 {
  font-weight: bold;
  color: rgb(82, 12, 122);
  font-style: italic;
}









/*Styling the footer*/
footer {
  background: #363428;
  width: 100%;
  padding: 40px 35px;
  text-align: center;
}
footer h2 {
  display: inline;
  color: #19df3a;
  font-size: 20px;
  margin: 0;
}
footer p {
  float: right;
  line-height: 1.5;
  text-align: right;
}

/*images*/
section img {
  width: 300px;
  height: 300px;
  justify-content: center;
}

.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
