/* body {
  font: 100% Helvetica, sans-serif;
  color: rgb(236, 4, 4);
  height: auto;
  background-color: grey;
} */

.banner {
  background-color: black;
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

.banner-img {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/*Home button links and styling*/
.home-link {
  font-weight: bold;
}

<<<<<<< HEAD
.nav {
  border: 2px solid black;
  padding: 0;
  margin: 0;
}
=======
.about-link {
  font-weight: bold;
}

.events-link {
  font-weight: bold;
}

.complaints-link {
  font-weight: bold;
}

.olderversion-link {
  font-weight: bold;
}

>>>>>>> c816d09bc80bc5fef5d858048d8d3b8dc5599e23
